.content{
	background-color: #ffb000;
	color: #000;
	font-size: 1em;
	height: 225px;
	margin: 50px auto 0px;
	padding: 50px;
	width: 350px;
}

#credential_bar{
	background-color: #ffb000;
	border: none;
	border-bottom: solid 2px #000;
	font-size: 1em;
	height: 30px;
	outline: none;
	padding: 2px;
	width: 346px;
}

#bt_login{
	background-color: #000;
	border: none;
	color: #ffb000;
	cursor: pointer;
	float: right;
	font-size: 1em;
	padding: 11px;
	width: 100px;
}